@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,400&display=swap");
$b: #83dcd6;
$brown: #605c56;
$text:#2d3557;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 80vw;
    margin: 3em auto;
  height: 100vh;
  background: #fff;
  font-family: "Marmelad", sans-serif;
}

main{

}
.container {
    // width: 900px;
    margin: 2em auto;
  border-radius: 10px;

}

h1 {
    position: relative;
    font-size: 3.5rem;
    margin: .5em 0;
    color: $text;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);

    &::after{
        content: "";
        position: absolute;
        left: -5%;
        top: 50%;
        background-color: #ffc8dd;
        width: 110%;
        height: 35%;
        z-index: -1;
    }
}
/************************************
** 1個目
************************************/


.container_one {
  width: 1200px;
  min-height: 300px;
  background: #a2caff;
  color: #2d3557;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  position: relative;
}

.card {
  width: 600px;
  height: 300px;
  // max-width: 500px;
  padding: 50px;
  margin: 10em;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42),
    inset 0 -8px 16px 0 #b9d1f1;
  // backdrop-filter: blur(15px);
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    font-size: 32px;
    margin: 0 0 8px 0;
    line-height: 1.3;
  }
}


.card-title {
  font-size: 32px;
  margin: 0 0 8px 0;
  line-height: 1.3;
}

.card-text {
  font-size: 20px;
  line-height: 1.3;
}

.drop {
  background: #ffc8dd80;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  // backdrop-filter: blur(5px);
  display: flex;

  margin: 0 auto;
  z-index: 2;

  .font {
    font-size: 1em;
    color: #44475688;

    &-drop1 {
      font-size: 1.1em;
      position: absolute;
      bottom: 0;
      padding: .4em;
    }

    &-drop3 {
      position: absolute;
      top: 0;
      right: 0;
      padding: .4em;
    }
  }

  p {
    margin: auto;
  }
}


.drop1 {
  width: 200px;
  height: 200px;
  bottom: 80px;
  left: 210px;
}

.drop2 {
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.drop3 {
  width: 200px;
  aspect-ratio: 1/1;
  top: 210px;
  right: 140px;
}

.drop4 {
  width: 210px;
  aspect-ratio: 1/1;
  border-radius: 55px;
  bottom: 60px;
  right: 78px;
  padding: .4em;
  background: #c8ffe480;
}